.one{
  background-color: #FFB562;
}

.two{
  background-color: blue;
  width: 200px;
  height: 200px;
}

.three{
  background-color: yellow;
  width: 200px;
  height: 200px;
}

body{
  margin: 0;
}

h1{
  margin-top: 0;
}
